<%= form_with(model: user_upload, local: true, multipart: true) do |form| %>
  <% if user_upload.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_upload.errors.count, "error") %> prohibited this user_upload from being saved:</h2>

      <ul>
        <% user_upload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: none">
    <%= form.label :user_file  %>
    <%= form.file_field :user_file %>
  </div>



    <%= form.label :user_file, class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
    <%= form.file_field :user_file, direct_upload: true, data: { target: 'dropzone.input' } %>
    <div class="dropzone-msg dz-message needsclick">
      <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
      <span class="dropzone-msg-desc">2 MB file size maximum. Allowed file types png, jpg.</span>
      </div>
    </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
